name: Build

on:
  push:
    branches:
      - main
      
jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Publish package
        run: npx jsr publish
      
#  build:
#    name: Build
#    needs: publish
#    runs-on: ubuntu-latest
#    permissions:
#      contents: write
#
#    steps:
#      - name: Checkout repo
#        uses: actions/checkout@v4
#
#      - name: Setup Node
#        uses: actions/setup-node@v4
#
#      - name: Install dependencies
#        uses: bahmutov/npm-install@v1
#
#      - name: Build project
#        run: npm run build
#      - uses: stefanzweifel/git-auto-commit-action@v5
#        with:
#          commit_message: Vite build